# Configuration file
config.ini

# Google Application Credentials file
apikey.json

# Bigquery - dbt Credentials files
dbt_bq_serviceaccount.json
under_the_radar_dbt/dbt_bq_serviceaccount.json
dbt/dbt_bq_serviceaccount.json

# Twitter files to ignore post API paywall
twitter.jsonl

# Environment
venv/

# IDE
.idea/
.idea/workspace.xml

# macOS
.DS_Store

# Deprecated
deprecated/

# Docker - Only temporary
Dockerfile
