# Configuration file
config.ini

# Google Application Credentials file
apikey.json
apikey_deprecated.json

# Bigquery - dbt Credentials file
dbt_bq_serviceaccount.json
under_the_radar_dbt/dbt_bq_serviceaccount.json
dbt/dbt_bq_serviceaccount.json

# Environment
venv/

# IDE
.idea/
.idea/workspace.xml

# macOS
.DS_Store

# Deprecated
deprecated/

# Other test files
test.py
tweets_200.jsonl 
tweets_parttime.jsonl 

# Docker - Only temporary
Dockerfile
